@import "tailwindcss";
@theme {
  --animate-fade-in-scale: fade-in-scale 1.5s infinite ease-in-out;
  @keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    50% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(0.95);
    }
  }
  
  --animate-moveLight: moveLight 6s infinite ease-in-out alternate;
  @keyframes moveLight {
    0%, 100% { transform: translateXx(500px) scale(1); }
    50% { transform: translateX(-500px) scale(1.1); }
  }
  
  
  --animate-twinkle: twinkle 3s infinite alternate ease-in-out;
  
  @keyframes twinkle {
    0%, 100% { opacity: 0.5; transform: scale(1); }
    50% { opacity: 1; transform: scale(1.2); }
  }
  
  
}